<!-- ============================================-->
<!-- <section> begin ============================-->
<section class="py-0" id="header" style="margin-top: -35rem !important;">
    <div class="container">
        <div class="row h-100">
            <div class="col-12">
                <nav>
                    <div class="nav nav-tabs majestic-tabs mb-4 justify-content-center" id="nav-tab" role="tablist"><button class="nav-link active" id="nav-women-tab" data-bs-toggle="tab" data-bs-target="#nav-women" type="button" role="tab" aria-controls="nav-women" aria-selected="true">Thông tin cá nhân</button><button class="nav-link" id="nav-men-tab"
                            data-bs-toggle="tab" data-bs-target="#nav-men" type="button" role="tab" aria-controls="nav-men" aria-selected="false">Đổi mật khẩu</button></div>
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-women" role="tabpanel" aria-labelledby="nav-women-tab">
                            <h3 class="text-center">Thông tin cá nhân</h3>
                            <div class="tab-content" id="nav-tabContent">
                                <form>
                                    <div class="form-row">
                                        <div class="form-group">
                                            <label for="inputPassword4">Tên</label>
                                            <input type="text" class="form-control" id="inputPassword4" placeholder="Password">
                                        </div>
                                        <div class="form-group">
                                            <label for="inputEmail4">Email</label>
                                            <input type="text" class="form-control" id="inputEmail4" placeholder="Email">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputAddress">Số điện thoại</label>
                                        <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                                    </div>
                                    <div class="form-group">
                                        <label for="inputAddress2">Địa chỉ</label>
                                        <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
                                    </div>
                                    <br>
                                    <button type="submit" class="btn btn-primary">Xác nhận</button>
                                </form>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="nav-men" role="tabpanel" aria-labelledby="nav-men-tab">
                            <h3 class="text-center">Đổi mật khẩu</h3>
                            <div class="tab-content" id="nav-tabContent">
                                <form>
                                    <div class="form-row">
                                        <div class="form-group">
                                            <label for="inputEmail4">Mật khẩu hiện tại</label>
                                            <input type="password" class="form-control" id="inputEmail4" placeholder="Mật khẩu cũ">
                                        </div>
                                        <div class="form-group">
                                            <label for="inputPassword4">Mật khẩu mới </label>
                                            <input type="password" class="form-control" id="inputPassword4" placeholder="Mật khẩu mới">
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group">
                                            <label for="inputEmail4">Nhập lại khẩu mới</label>
                                            <input type="password" class="form-control" id="inputEmail4" placeholder="Nhập lại mật khẩu mới">
                                        </div>
                                    </div>
                                    <br>
                                    <button type="submit" class="btn btn-primary">Xác nhận</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</section>

<!-- <section class="py-0" id="header" style="margin-top: -35rem !important;">
    <div class="container">
        <div class="row h-100">
            <div class="col-lg-12 mx-auto  mb-6">
                <h5 class="fs-3 fs-lg-5 lh-sm mb-3 text-center">Thông tin cá nhân</h5>
                <div class="tab-content" id="nav-tabContent">
                    <form>
                        <div class="form-row">
                            <div class="form-group">
                                <label for="inputEmail4">Email</label>
                                <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
                            </div>
                            <div class="form-group">
                                <label for="inputPassword4">Password</label>
                                <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputAddress">Address</label>
                            <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                        </div>
                        <div class="form-group">
                            <label for="inputAddress2">Address 2</label>
                            <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
                        </div>
                        <div class="form-row">
                            <div class="form-group">
                                <label for="inputCity">City</label>
                                <input type="text" class="form-control" id="inputCity">
                            </div>
                            <div class="form-group">
                                <label for="inputZip">Zip</label>
                                <input type="text" class="form-control" id="inputZip">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section> -->
<!-- <section> close ============================-->
<!-- ============================================-->
<br>
<br>

<section class="py-11">
    <div class="bg-holder overlay overlay-0" style="background-image:url(assets/img/tree/tree-16.jpeg);background-position:center;background-size:cover;"></div>
    <!--/.bg-holder-->
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="row h-100 align-items-center g-2">
                    <div class="col-12">
                        <div class="text-light text-center py-2">
                            <h5 class="display-4 fw-normal text-400 fw-normal mb-4">Chúng tôi tự hào là nơi mua bán các loại cây cảnh</h5>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
