<!-- ============================================-->
<!-- <section> begin ============================-->
<app-loading *ngIf="isLoadingStudents"></app-loading>
<app-loading *ngIf="isLoading"></app-loading>
<section class="py-0" id="header" style="margin-top: -35rem !important;">
    <div class="container">
        <div class="row h-100">
            <div class="col-lg-7 mx-auto text-center mb-4">
                <h5 class="fs-3 fs-lg-5 lh-sm mb-3">Chậu cây</h5>
            </div>
            <div class="row h-100">
                <div class="col-12">
                    <nav>
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="nav-women" role="tabpanel" aria-labelledby="nav-women-tab">
                                <form>
                                    <div>
                                        <ul class="nav nav-pills justify-content-center mb-5" id="pills-tab-women" role="tablist" (click)="changeTab($event)">
                                            <li class="nav-item" role="presentation">
                                                <button class="nav-link active" id="pills-wtshirt-tab" value="0" data-bs-toggle="pill" data-bs-target="#pills-wtshirt" type="button" role="tab" aria-controls="pills-wtshirt">Tất cả</button></li>
                                            <li *ngFor="let item of categories" class="nav-item" role="presentation" [value]="item">
                                                <button class="nav-link " id="pills-wtshirt-tab" value="{{item.id}}" data-bs-toggle="pill" data-bs-target="#pills-wtshirt" type="button" role="tab" aria-controls="pills-wtshirt">{{item.name}}</button></li>
                                        </ul>
                                    </div>
                                </form>
                                <div class="tab-content" id="pills-tabContentWomen">
                                    <div class="select d-flex justify-content-between">
                                        <select (change)="changeOption($event)">
                              <option value="IdUp">Mới nhất</option>
                              <option value="PriceUp">Giá thấp - cao</option>
                              <option value="PriceDown">Giá cao - thấp</option>
                            </select>
                                    </div>
                                    <br>
                                    <div class="row h-100 align-items-center g-2">
                                        <div class="col-sm-6 col-md-3 mb-3 mb-md-0 h-100" *ngFor="let item of students">
                                            <div class="card card-span h-100 text-white"><img class="img-fluid h-100" src="{{item.backgroundImage}}" style="width: 271px !important;height: 265px !important;" alt="..." />
                                                <div class="card-body ps-0 bg-200">
                                                    <h5 class="fw-bold text-1000 text-truncate">{{item.name}}</h5>
                                                    <div class="fw-bold" style="justify-content: space-between; display: flex;">
                                                        <span class="text-primary">{{item.price | currency : "VND"}}</span>
                                                        <span class="text-600 me-2 text-decoration-line-through">
                                                  <a (click)="moveDetail(item)" class="btn btn-primary" style="width: 70px;background-color: #FFA15C;color: white;margin-right: 2px;">Xem</a>
                                                  <a (click)="openModal(item)"  class="btn btn-success" style="width: 70px;background-color: #19CC61;color: white;">Mua</a>
                                                </span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
                <app-pagination (responseData)="students = $event" [userId]="id" [accessToken]="accessToken" (loading)="isLoadingStudents = $event" [apiRoute]="'http://localhost:1938/api/active/getpot'" [type]="'pot'" [searchTerm]="id" [reload]="reload" [recordsPerPage]="recordsPerPage">
                </app-pagination>
            </div>

        </div>

    </div>
</section>
<!-- <section> close ============================-->
<!-- ============================================-->
<br>
<br>

<section style="padding-top: 0px !important">
    <div class="container">
        <div class="row h-100">
            <div class="col-lg-7 mx-auto text-center mb-4">
                <h5 class="fw-bold fs-3 fs-lg-5 lh-sm mb-3">Sản phẩm nổi bật</h5>
            </div>
            <div class="col-12">
                <div class="row h-100 align-items-center g-2">
                    <div class="col-sm-6 col-md-3 mb-3 mb-md-0 h-100" *ngFor="let item of topViewModel">
                        <div class="card card-span h-100 text-white">
                            <a href="#"><img class="img-fluid h-100" src="{{item.backgroundImage}}" style="width: 271px !important;height: 300px!important" alt="..." /></a>
                            <div class="card-body ps-0 bg-200">
                                <h5 class="fw-bold text-1000 text-truncate">{{item.naMe}}</h5>
                                <div class="fw-bold" style="justify-content: space-between; display: flex;"><span class="text-primary">{{item.price | currency : "VND"}}</span><span class="text-600 me-2 text-decoration-line-through">
                                  <a (click)="moveDetail(item)" class="btn btn-primary" style="width: 70px;background-color: #FFA15C;color: white;margin-right: 2px;">Xem</a>
                                </span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="py-11">
    <div class="bg-holder overlay overlay-0" style="background-image:url(assets/img/tree/tree-16.jpeg);background-position:center;background-size:cover;"></div>
    <!--/.bg-holder-->
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="row h-100 align-items-center g-2">
                    <div class="col-12">
                        <div class="text-light text-center py-2">
                            <h5 class="display-4 fw-normal text-400 fw-normal mb-4">Chúng tôi tự hào là nơi mua bán các loại cây cảnh</h5>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Modal Cho Website -->
<!-- Modal Cho Website -->
<div id="myModal1" class="modal">
    <!-- Nội Dung Modal -->
    <div class="modal-content">
        <div style=" display: flex; justify-content: space-between;"><span style="margin-top: 14px;"><b>Xác nhận</b></span><span class="text-primary">
        <button class="btn-close" (click)="closeModal()"></button></span></div>
        <div class="row">
            <div class="col-12 " *ngFor="let item of cartItemViewModels; let i = index ">
                <div class="row" id="{{ item.id}}">
                    <div class="col-6">
                        <div class=" ">
                            {{ item.name }}
                        </div>
                    </div>
                    <div class="col-2 p-0">
                        <input [(ngModel)]="item.amount" [ngModelOptions]="{standalone: true}" min="1" type="number" (change)="updatePice(item)" value="{{ item.qtyTotal }}" name="" class="form-control" />
                    </div>
                    <div class="col-2 pr-0">
                        <div #subTotalWrap>{{ item.priceOnTotal | currency:"VND" }}</div>
                    </div>
                </div>
            </div>
            <div class="col-12 ">
                <hr />
                <div>
                    <hr>
                    <button class="btn btn-primary  ">Xóa giỏ hàng</button>
                    <button class="btn btn-success  " type="button" [routerLink]="['/cart/order']">Đến giỏ hàng</button>
                </div>
            </div>
        </div>
    </div>
</div>