<!-- ============================================-->
<!-- <section> begin ============================-->
<section class="py-0" id="header" style="margin-top: -35rem !important;">
    <div class="container">
        <div class="row h-100">
            <div class="col-lg-7 mx-auto text-center mb-4">
                <h5 class="fs-3 fs-lg-5 lh-sm mb-3">Cây sen đá</h5>
            </div>
            <div class="row h-100">
                <div class="col-12">
                    <nav>
                        <div class="tab-content" id="nav-tabContent">
                            <div class="row">
                                <div class="col-4">
                                    <div class="row align-items-center g-2">
                                        <div class="col-sm-12 col-md-12 mb-3 mb-md-0 h-100">
                                            <div class="card card-span h-100 text-white"><img class="img-fluid h-100" src="assets/img/shirt-1.png" alt="..." />
                                                <div class="card-img-overlay ps-0"> </div>
                                                <a class="stretched-link" href="#"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row align-items-center g-2">
                                        <div class="col-sm-6 col-md-3 mb-3 mb-md-0 h-100">
                                            <div class="card card-span h-100 text-white"><img class="img-fluid h-100" src="assets/img/shirt-1.png" alt="..." />
                                                <div class="card-img-overlay ps-0"> </div>

                                                <a class="stretched-link" href="#"></a>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-3 mb-3 mb-md-0 h-100">
                                            <div class="card card-span h-100 text-white"><img class="img-fluid h-100" src="assets/img/shirt-2.png" alt="..." />
                                                <div class="card-img-overlay ps-0"> </div>

                                                <a class="stretched-link" href="#"></a>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-3 mb-3 mb-md-0 h-100">
                                            <div class="card card-span h-100 text-white"><img class="img-fluid h-100" src="assets/img/shirt-3.png" alt="..." />
                                                <div class="card-img-overlay ps-0"> </div>

                                                <a class="stretched-link" href="#"></a>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-3 mb-3 mb-md-0 h-100">
                                            <div class="card card-span h-100 text-white"><img class="img-fluid h-100" src="assets/img/shirt-4.png" alt="..." />
                                                <div class="card-img-overlay ps-0"> </div>

                                                <a class="stretched-link" href="#"></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-5">
                                    <div class="tab-pane fade show" id="nav-women" role="tabpanel" aria-labelledby="nav-women-tab">
                                        <div class="tab-content" id="nav-tabContent">
                                            <form>
                                                <div class="form-row">
                                                    <div class="form-group">
                                                        <label for="inputPassword4">Tên : Cây sen đá</label>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="inputEmail4">Giá : 150.000 VND</label>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="inputAddress">Tiệt kiệm : 30.000 VND</label>
                                                </div>
                                                <div class="form-group">
                                                    <label for="inputAddress2"><span><strong>Cây Sen đá :</strong> thuộc giống cây thủy sinh mang ý nghĩa phong thủy tốt nên không những được nhiều người ưa chuộng và lựa chọn trồng nhiều mà còn trở thành một món quà tặng đầy tinh tế dành tặng người thân, bạn bè,…</span></label>
                                                </div>
                                                <div class="form-group">
                                                    <label for="inputAddress">Phương thức liên hệ :</label>
                                                </div>
                                                <div class="contact text-center">
                                                    <div class="row">
                                                        <div class="col-sm-4">
                                                            <a class="text-1000" href="#!"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-fill" viewBox="0 0 16 16">
                                                              <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L8 2.207l6.646 6.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5Z"/>
                                                              <path d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6Z"/>
                                                            </svg>
                                                                <p>Trực tiếp</p>
                                                            </a>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <a class="text-1000" href="#!"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone-fill" viewBox="0 0 16 16">
                                                              <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
                                                            </svg>
                                                                <p>Số điện thoại</p>
                                                            </a>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <a class="text-1000" href="#!"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-messenger" viewBox="0 0 16 16">
                                                              <path d="M0 7.76C0 3.301 3.493 0 8 0s8 3.301 8 7.76-3.493 7.76-8 7.76c-.81 0-1.586-.107-2.316-.307a.639.639 0 0 0-.427.03l-1.588.702a.64.64 0 0 1-.898-.566l-.044-1.423a.639.639 0 0 0-.215-.456C.956 12.108 0 10.092 0 7.76zm5.546-1.459-2.35 3.728c-.225.358.214.761.551.506l2.525-1.916a.48.48 0 0 1 .578-.002l1.869 1.402a1.2 1.2 0 0 0 1.735-.32l2.35-3.728c.226-.358-.214-.761-.551-.506L9.728 7.381a.48.48 0 0 1-.578.002L7.281 5.98a1.2 1.2 0 0 0-1.735.32z"/>
                                                            </svg>
                                                                <p>Mạng xã hội</p>
                                                            </a>
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="quantity buttons_added">
                                                    <input type="button" value="-" class="minus button is-form">
                                                    <input type="number" id="quantity_63817156c90f1" class="input-text qty text" step="1" min="1" max="" name="quantity" value="1" title="SL" size="4" placeholder="" inputmode="numeric">
                                                    <input type="button" value="+" class="plus button is-form">
                                                    <button type="submit" name="add-to-cart" value="3207" class="single_add_to_cart_button btn btn-primary alt">Thêm vào giỏ hàng</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="tab-pane fade show" id="nav-women" role="tabpanel" aria-labelledby="nav-women-tab">
                                        <div class="tab-content" id="nav-tabContent">
                                            <form>
                                                <div class="form-row">
                                                    <div class="form-group">
                                                        <label for="inputPassword4"><strong>Phương thức thanh toán</strong></label>
                                                        <ul class="payment">
                                                            <li>Bằng tiền mặt</li>
                                                            <li>Qua ngân hàng</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="form-row">
                                                    <div class="form-group">
                                                        <label for="inputPassword4"><strong>Chính sách vận chuyển</strong></label>
                                                        <ul class="payment">
                                                            <li>Vận chuyển qua bên thứ 3</li>
                                                            <li>Freeship khi đơn lớn 200 nghìn</li>
                                                        </ul>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="inputEmail4"><strong>Chính sách đổi trả hàng</strong></label>
                                                        <ul class="payment">
                                                            <li>Đổi trả hàng trong vòng 7 ngày</li>
                                                            <li>Với những đơn hàng bị lỗi</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- <section> close ============================-->
<!-- ============================================-->
<section style="padding-top: 5rem !important">
    <div class="container">
        <div class="row h-100">
            <div class="col-lg-7 mx-auto text-center mb-4">
                <h5 class="fw-bold fs-3 fs-lg-5 lh-sm mb-3">Sản phẩm liên quan</h5>
            </div>
            <div class="col-12">
                <div class="row h-100 align-items-center g-2">
                    <div class="col-md-3 mb-3 mb-md-0 h-100">
                        <div class="card card-span h-100 text-white"><img class="img-fluid h-100" src="assets/img/handbag.png" alt="..." />
                            <div class="card-img-overlay ps-0"> </div>
                            <div class="card-body ps-0 bg-200">
                                <h5 class="fw-bold text-1000 text-truncate">Marie Claire Handbag</h5>
                                <div class="fw-bold"><span class="text-600 me-2 text-decoration-line-through">$399</span><span class="text-danger">$365</span></div>
                            </div>
                            <a class="stretched-link" [routerLink]="['/tree/detail']"></a>
                        </div>
                    </div>
                    <div class="col-md-3 mb-3 mb-md-0 h-100">
                        <div class="card card-span h-100 text-white"><img class="img-fluid h-100" src="assets/img/earrings.png" alt="..." />
                            <div class="card-img-overlay ps-0"> </div>
                            <div class="card-body ps-0 bg-200">
                                <h5 class="fw-bold text-1000 text-truncate">Red Gem Earrings</h5>
                                <div class="fw-bold"><span class="text-600 me-2 text-decoration-line-through">$489</span><span class="text-danger">$466</span></div>
                            </div>
                            <a class="stretched-link" [routerLink]="['/tree/detail']"></a>
                        </div>
                    </div>
                    <div class="col-md-3 mb-3 mb-md-0 h-100">
                        <div class="card card-span h-100 text-white"><img class="img-fluid h-100" src="assets/img/lathered-wristwatch.png" alt="..." />
                            <div class="card-img-overlay ps-0"> </div>
                            <div class="card-body ps-0 bg-200">
                                <h5 class="fw-bold text-1000 text-truncate">Black Leathered Wristwatch</h5>
                                <div class="fw-bold"><span class="text-600 me-2 text-decoration-line-through">$799</span><span class="text-danger">$745</span></div>
                            </div>
                            <a class="stretched-link" [routerLink]="['/tree/detail']"></a>
                        </div>
                    </div>
                    <div class="col-md-3 mb-3 mb-md-0 h-100">
                        <div class="card card-span h-100 text-white"><img class="img-fluid h-100" src="assets/img/tie.png" alt="..." />
                            <div class="card-img-overlay ps-0"> </div>
                            <div class="card-body ps-0 bg-200">
                                <h5 class="fw-bold text-1000 text-truncate">Red-White Stripped Tie</h5>
                                <div class="fw-bold"><span class="text-600 me-2 text-decoration-line-through">$299</span><span class="text-danger">$243</span></div>
                            </div>
                            <a class="stretched-link" [routerLink]="['/tree/detail']"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<br>
<br>
<section class="py-11">
    <div class="bg-holder overlay overlay-0" style="background-image:url(assets/img/tree/tree-16.jpeg);background-position:center;background-size:cover;"></div>
    <!--/.bg-holder-->
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="row h-100 align-items-center g-2">
                    <div class="col-12">
                        <div class="text-light text-center py-2">
                            <h5 class="display-4 fw-normal text-400 fw-normal mb-4">Chúng tôi tự hào là nơi mua bán các loại cây cảnh</h5>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
