<!-- ============================================-->
<!-- <section> begin ============================-->
<section class="py-0" id="header" style="margin-top: -35rem !important;">
    <div class="container">
        <div class="row h-100">
            <div class="col-lg-7 mx-auto text-center mb-4">
                <h5 class="fs-3 fs-lg-5 lh-sm mb-3">Danh sách đơn hàng đã mua</h5>
            </div>
            <div class="row h-100">
                <div class="col-12">
                    <nav>
                        <div class="tab-content" id="nav-tabContent">
                            <div class="row">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Tên</th>
                                            <th scope="col">Nội dung</th>
                                            <th scope="col">Email</th>
                                            <th scope="col">Ngày mua</th>
                                            <th scope="col">Tổng giá</th>
                                            <th scope="col">Trạng thái</th>
                                            <th scope="col">Chi tiết</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of students">
                                            <th scope="row">1</th>
                                            <td>{{item.userName}}</td>
                                            <td>{{item.content}}</td>
                                            <td>{{item.email}}</td>
                                            <td>{{item.createDateStr}}</td>
                                            <td>{{item.totalPrice |currency :"VND"}}</td>
                                            <td>{{item.status == true ? "Đang giao":"Đang đợi duyệt"}}</td>
                                            <td><button class="btn" type="button"><svg [routerLink]="['/order/detail']"  xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-journal-text" viewBox="0 0 16 16">
                                              <path d="M5 10.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5zm0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z"/>
                                              <path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2z"/>
                                              <path d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z"/>
                                            </svg></button></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </nav>
                </div>
                <app-pagination (responseData)="students = $event" [userId]="id" [type]="'history'" [accessToken]="accessToken" (loading)="isLoadingStudents = $event" [apiRoute]="'http://localhost:1938/api/order'" [searchTerm]="searchTerm" [reload]="reload" [recordsPerPage]="recordsPerPage">
                </app-pagination>
            </div>
        </div>
    </div>
</section>
<!-- <section> close ============================-->
<!-- ============================================-->
<section style="padding-top: 5rem !important">
    <div class="container">
        <div class="row h-100">
            <div class="col-lg-7 mx-auto text-center mb-4">
                <h5 class="fw-bold fs-3 fs-lg-5 lh-sm mb-3">Sản phẩm liên quan</h5>
            </div>
            <div class="col-12">
                <div class="row h-100 align-items-center g-2">
                    <div class="col-md-3 mb-3 mb-md-0 h-100">
                        <div class="card card-span h-100 text-white"><img class="img-fluid h-100" src="assets/img/handbag.png" alt="..." />
                            <div class="card-img-overlay ps-0"> </div>
                            <div class="card-body ps-0 bg-200">
                                <h5 class="fw-bold text-1000 text-truncate">Marie Claire Handbag</h5>
                                <div class="fw-bold"><span class="text-600 me-2 text-decoration-line-through">$399</span><span class="text-danger">$365</span></div>
                            </div>
                            <a class="stretched-link" [routerLink]="['/tree/detail']"></a>
                        </div>
                    </div>
                    <div class="col-md-3 mb-3 mb-md-0 h-100">
                        <div class="card card-span h-100 text-white"><img class="img-fluid h-100" src="assets/img/earrings.png" alt="..." />
                            <div class="card-img-overlay ps-0"> </div>
                            <div class="card-body ps-0 bg-200">
                                <h5 class="fw-bold text-1000 text-truncate">Red Gem Earrings</h5>
                                <div class="fw-bold"><span class="text-600 me-2 text-decoration-line-through">$489</span><span class="text-danger">$466</span></div>
                            </div>
                            <a class="stretched-link" [routerLink]="['/tree/detail']"></a>
                        </div>
                    </div>
                    <div class="col-md-3 mb-3 mb-md-0 h-100">
                        <div class="card card-span h-100 text-white"><img class="img-fluid h-100" src="assets/img/lathered-wristwatch.png" alt="..." />
                            <div class="card-img-overlay ps-0"> </div>
                            <div class="card-body ps-0 bg-200">
                                <h5 class="fw-bold text-1000 text-truncate">Black Leathered Wristwatch</h5>
                                <div class="fw-bold"><span class="text-600 me-2 text-decoration-line-through">$799</span><span class="text-danger">$745</span></div>
                            </div>
                            <a class="stretched-link" [routerLink]="['/tree/detail']"></a>
                        </div>
                    </div>
                    <div class="col-md-3 mb-3 mb-md-0 h-100">
                        <div class="card card-span h-100 text-white"><img class="img-fluid h-100" src="assets/img/tie.png" alt="..." />
                            <div class="card-img-overlay ps-0"> </div>
                            <div class="card-body ps-0 bg-200">
                                <h5 class="fw-bold text-1000 text-truncate">Red-White Stripped Tie</h5>
                                <div class="fw-bold"><span class="text-600 me-2 text-decoration-line-through">$299</span><span class="text-danger">$243</span></div>
                            </div>
                            <a class="stretched-link" [routerLink]="['/tree/detail']"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<br>
<br>
<section class="py-11">
    <div class="bg-holder overlay overlay-0" style="background-image:url(assets/img/tree/tree-16.jpeg);background-position:center;background-size:cover;"></div>
    <!--/.bg-holder-->
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="row h-100 align-items-center g-2">
                    <div class="col-12">
                        <div class="text-light text-center py-2">
                            <h5 class="display-4 fw-normal text-400 fw-normal mb-4">Chúng tôi tự hào là nơi mua bán các loại cây cảnh</h5>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
