<!-- ============================================-->
<!-- <section> begin ============================-->
<app-loading *ngIf="isLoadingStudents"></app-loading>
<app-loading *ngIf="isLoading"></app-loading>
<section class="py-0" id="header" style="margin-top: -35rem !important;">
    <div class="container">
        <div class="row h-100">
            <div class="col-lg-7 mx-auto text-center mb-4">
                <h5 class="fs-3 fs-lg-5 lh-sm mb-3">Cây cảnh Việt Nam</h5>
            </div>
            <div class="col-12">
                <div class="carousel slide" id="carouselNewArrivals" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="10000">
                            <div class="row h-100 align-items-center g-2">
                                <div class="col-sm-6 col-md-3 mb-3 mb-md-0 h-100">
                                    <div class="card card-span h-100 text-white"><img class="card-img h-100" style="width: 271px !important;height: 370px!important" src="assets/img/tree/tree-2.jpg" alt="..." />

                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-3 mb-3 mb-md-0 h-100">
                                    <div class="card card-span h-100 text-white"><img class="card-img h-100" style="width: 271px !important;height: 370px!important" src="assets/img/tree/tree-3.jpg" alt="..." />

                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-3 mb-3 mb-md-0 h-100">
                                    <div class="card card-span h-100 text-white"><img class="card-img h-100" style="width: 271px !important;height: 370px!important" src="assets/img/tree/tree-4.jpg" alt="..." />

                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-3 mb-3 mb-md-0 h-100">
                                    <div class="card card-span h-100 text-white"><img class="card-img h-100" style="width: 271px !important;height: 370px!important" src="assets/img/tree/tree-5.jpg" alt="..." />


                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item" data-bs-interval="5000">
                            <div class="row h-100 align-items-center g-2">
                                <div class="col-sm-6 col-md-3 mb-3 mb-md-0 h-100">
                                    <div class="card card-span h-100 text-white"><img class="card-img h-100" style="width: 271px !important;height: 370px!important" src="assets/img/tree/tree-6.png" alt="..." />

                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-3 mb-3 mb-md-0 h-100">
                                    <div class="card card-span h-100 text-white"><img class="card-img h-100" style="width: 271px !important;height: 370px!important" src="assets/img/tree/tree-7.png" alt="..." />

                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-3 mb-3 mb-md-0 h-100">
                                    <div class="card card-span h-100 text-white"><img class="card-img h-100" style="width: 271px !important;height: 370px!important" src="assets/img/tree/tree-8.png" alt="..." />

                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-3 mb-3 mb-md-0 h-100">
                                    <div class="card card-span h-100 text-white"><img class="card-img h-100" style="width: 271px !important;height: 370px!important" src="assets/img/tree/tree-9.jpg" alt="..." />

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item" data-bs-interval="3000">
                            <div class="row h-100 align-items-center g-2">
                                <div class="col-sm-6 col-md-3 mb-3 mb-md-0 h-100">
                                    <div class="card card-span h-100 text-white"><img class="card-img h-100" style="width: 271px !important;height: 370px!important" src="assets/img/tree/tree-10.jpg" alt="..." />

                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-3 mb-3 mb-md-0 h-100">
                                    <div class="card card-span h-100 text-white"><img class="card-img h-100" style="width: 271px !important;height: 370px!important" src="assets/img/tree/tree-11.jpg" alt="..." />

                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-3 mb-3 mb-md-0 h-100">
                                    <div class="card card-span h-100 text-white"><img class="card-img h-100" style="width: 271px !important;height: 370px!important" src="assets/img/tree/tree-12.jpg" alt="..." />

                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-3 mb-3 mb-md-0 h-100">
                                    <div class="card card-span h-100 text-white"><img class="card-img h-100" style="width: 271px !important;height: 370px!important" src="assets/img/tree/tree-13.jpg" alt="..." />

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row"><button class="carousel-control-prev" type="button" data-bs-target="#carouselNewArrivals" data-bs-slide="prev"><span class="carousel-control-prev-icon" aria-hidden="true"></span><span class="visually-hidden">Previous</span></button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselNewArrivals" data-bs-slide="next"><span class="carousel-control-next-icon" aria-hidden="true"></span><span class="visually-hidden">Next </span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- <section> close ============================-->
<!-- ============================================-->

<section id="categoryWomen">
    <div class="container">
        <div class="row h-100">
            <div class="col-12">
                <nav>
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-women" role="tabpanel" aria-labelledby="nav-women-tab">
                            <form>
                                <div>
                                    <ul class="nav nav-pills justify-content-center mb-5" id="pills-tab-women" role="tablist" (click)="changeTab($event)">
                                        <li *ngFor="let item of nature" class="nav-item" role="presentation" [value]="item">
                                            <button class="nav-link {{item.id == 0 ? 'active': ''}}" id="pills-wtshirt-tab" value="{{item.type}}" data-bs-toggle="pill" data-bs-target="#pills-wtshirt" type="submit" role="tab" aria-controls="pills-wtshirt">{{item.text}}</button></li>
                                    </ul>
                                </div>
                            </form>
                            <div class="tab-content" id="pills-tabContentWomen">
                                <div class="select d-flex justify-content-between">
                                    <select (change)="changeOption($event)">
                          <option value="IdUp">Mới nhất</option>
                          <option value="PriceUp">Giá thấp - cao</option>
                          <option value="PriceDown">Giá cao - thấp</option>
                        </select>
                                </div>
                                <br>
                                <div class="row h-100 align-items-center g-2">
                                    <div class="col-sm-6 col-md-3 mb-3 mb-md-0 h-100" *ngFor="let item of students">
                                        <div class="card card-span h-100 text-white"><img class="img-fluid h-100" src="{{item.backgroundImage}}" style="width: 271px !important;height: 265px !important;" alt="..." />
                                            <div class="card-body ps-0 bg-200">
                                                <h5 class="fw-bold text-1000 text-truncate">{{item.name}}</h5>
                                                <div class="fw-bold" style="justify-content: space-between; display: flex;">
                                                    <span class="text-primary">{{item.price | currency : "VND"}}</span>
                                                    <span class="text-600 me-2 text-decoration-line-through">
                                                <a (click)="moveDetail(item)" class="btn btn-primary" style="width: 70px;background-color: #FFA15C;color: white;margin-right: 2px;">Xem</a>
                                                <a (click)="openModal(item)"  class="btn btn-success" style="width: 70px;background-color: #19CC61;color: white;">Mua</a>
                                              </span></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
            <app-pagination (responseData)="students = $event" [userId]="''" [accessToken]="accessToken" (loading)="isLoadingStudents = $event" [apiRoute]="'http://localhost:1938/api/active'" [type]="'active'" [searchTerm]="typeProduct" [reload]="reload" [recordsPerPage]="recordsPerPage">
            </app-pagination>
        </div>
    </div>
</section>

<section style="padding-top: 0px !important">
    <div class="container">
        <div class="row h-100">
            <div class="col-lg-7 mx-auto text-center mb-4">
                <h5 class="fw-bold fs-3 fs-lg-5 lh-sm mb-3">Sản phẩm mua nhiều</h5>
            </div>
            <div class="col-12">
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-women" role="tabpanel" aria-labelledby="nav-women-tab">
                        <div class="tab-content" id="pills-tabContentWomen">
                            <br>
                            <div class="row h-100 align-items-center g-2">
                                <div class="col-sm-6 col-md-3 mb-3 mb-md-0 h-100" *ngFor="let item of topViewModel">
                                    <div class="card card-span h-100 text-white">
                                        <a href="#"><img class="img-fluid h-100" src="{{item.backgroundImage}}" style="width: 271px !important;height: 265px !important" alt="..." /></a>
                                        <div class="card-body ps-0 bg-200">
                                            <h5 class="fw-bold text-1000 text-truncate">{{item.naMe}}</h5>
                                            <a [routerLink]="['/tree/detail']" class="btn btn-primary" style="width: 80px;background-color: #FFA15C;color: white;">Xem</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="py-11">
    <div class="bg-holder overlay overlay-0" style="background-image:url(assets/img/tree/tree-16.jpeg);background-position:center;background-size:cover;"></div>
    <!--/.bg-holder-->
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="row h-100 align-items-center g-2">
                    <div class="col-12">
                        <div class="text-light text-center py-2">
                            <h5 class="display-4 fw-normal text-400 fw-normal mb-4">Chúng tôi tự hào là nơi mua bán các loại cây cảnh</h5>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Modal Cho Website -->
<!-- Modal Cho Website -->
<div id="myModal1" class="modal">
    <!-- Nội Dung Modal -->
    <div class="modal-content">
        <div style=" display: flex; justify-content: space-between;"><span style="margin-top: 14px;"><b>Xác nhận</b></span><span class="text-primary">
        <button class="btn-close" (click)="closeModal()"></button></span></div>
        <div class="row">
            <div class="col-12 " *ngFor="let item of cartItemViewModels; let i = index ">
                <div class="row" id="{{ item.id}}">
                    <div class="col-6">
                        <div class=" ">
                            {{ item.name }}
                        </div>
                    </div>
                    <div class="col-2 p-0">
                        <input [(ngModel)]="item.amount" [ngModelOptions]="{standalone: true}" min="1" type="number" (change)="updatePice(item)" value="{{ item.qtyTotal }}" name="" class="form-control" />
                    </div>
                    <div class="col-2 pr-0">
                        <div #subTotalWrap>{{ item.priceOnTotal | currency:"VND" }}</div>
                    </div>
                </div>
            </div>
            <div class="col-12 ">
                <hr />
                <div>
                    <hr>
                    <button class="btn btn-primary  ">Xóa giỏ hàng</button>
                    <button class="btn btn-success  " type="button" [routerLink]="['/cart/order']">Đến giỏ hàng</button>
                </div>
            </div>
        </div>
    </div>
</div>