<!-- ============================================-->
<!-- <section> begin ============================-->
<section class="py-0" id="header" style="margin-top: -35rem !important;">
    <div class="container">
        <div class="row h-100">
            <div class="col-lg-7 mx-auto text-center mb-4">
                <h5 class="fs-3 fs-lg-5 lh-sm mb-3">Kết quả tìm kiếm cho</h5>
            </div>
            <div class="row h-100">
                <div class="col-12">
                    <nav>
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="nav-women" role="tabpanel" aria-labelledby="nav-women-tab">

                                <div class="tab-content" id="pills-tabContentWomen">
                                    <div class="select d-flex justify-content-between">
                                        <select (change)="changeOption($event)">
                            <option value="IdUp">Mới nhất</option>
                            <option value="PriceUp">Giá thấp - cao</option>
                            <option value="PriceDown">Giá cao - thấp</option>
                          </select>
                                    </div>
                                    <br>
                                    <div class="row h-100 align-items-center g-2">
                                        <div class="col-sm-6 col-md-3 mb-3 mb-md-0 h-100" *ngFor="let item of students">
                                            <div class="card card-span h-100 text-white"><img class="img-fluid h-100" src="{{item.backgroundImage}}" style="width: 271px !important;height: 265px !important;" alt="..." />
                                                <div class="card-body ps-0 bg-200">
                                                    <h5 class="fw-bold text-1000 text-truncate">{{item.name}}</h5>
                                                    <div class="fw-bold" style="justify-content: space-between; display: flex;"><span class="text-primary">{{item.price | currency : "VND"}}</span><span class="text-600 me-2 text-decoration-line-through">
                                                  <a [routerLink]="['/tree/detail']" class="btn btn-primary" style="width: 80px;background-color: #FFA15C;color: white;">Xem</a>
                                                </span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
                <app-pagination (responseData)="students = $event" [userId]="searchStr" [accessToken]="accessToken" (loading)="isLoadingStudents = $event" [apiRoute]="'http://localhost:1938/api/active'" [type]="'active'" [searchTerm]="'TREE'" [reload]="reload" [recordsPerPage]="recordsPerPage">
                </app-pagination>
            </div>
        </div>
    </div>
</section>
<!-- <section id="categoryWomen">
  <div class="container">
      <div class="row h-100">
          <div class="col-12">
              <nav>
                  <div class="tab-content" id="nav-tabContent">
                      <div class="tab-pane fade show active" id="nav-women" role="tabpanel" aria-labelledby="nav-women-tab">
                          <form>
                              <div>
                                  <ul class="nav nav-pills justify-content-center mb-5" id="pills-tab-women" role="tablist" (click)="changeTab($event)">
                                      <li *ngFor="let item of nature" class="nav-item" role="presentation" [value]="item">
                                          <button class="nav-link {{item.id == 0 ? 'active': ''}}" id="pills-wtshirt-tab" value="{{item.type}}" data-bs-toggle="pill" data-bs-target="#pills-wtshirt" type="submit" role="tab" aria-controls="pills-wtshirt">{{item.text}}</button></li>
                                  </ul>
                              </div>
                          </form>
                          <div class="tab-content" id="pills-tabContentWomen">
                              <div class="select d-flex justify-content-between">
                                  <select (change)="changeOption($event)">
                        <option value="IdUp">Mới nhất</option>
                        <option value="PriceUp">Giá thấp - cao</option>
                        <option value="PriceDown">Giá cao - thấp</option>
                      </select>
                              </div>
                              <br>
                              <div class="row h-100 align-items-center g-2">
                                  <div class="col-sm-6 col-md-3 mb-3 mb-md-0 h-100" *ngFor="let item of students">
                                      <div class="card card-span h-100 text-white"><img class="img-fluid h-100" src="{{item.backgroundImage}}" style="width: 271px !important;height: 265px !important;" alt="..." />
                                          <div class="card-body ps-0 bg-200">
                                              <h5 class="fw-bold text-1000 text-truncate">{{item.name}}</h5>
                                              <div class="fw-bold" style="justify-content: space-between; display: flex;"><span class="text-primary">{{item.price | currency : "VND"}}</span><span class="text-600 me-2 text-decoration-line-through">
                                              <a [routerLink]="['/tree/detail']" class="btn btn-primary" style="width: 80px;background-color: #FFA15C;color: white;">Xem</a>
                                            </span></div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </nav>
          </div>
          <app-pagination (responseData)="students = $event" [userId]="''" [accessToken]="accessToken" (loading)="isLoadingStudents = $event" [apiRoute]="'http://localhost:1938/api/active'" [type]="'active'" [searchTerm]="typeProduct" [reload]="reload" [recordsPerPage]="recordsPerPage">
          </app-pagination>
      </div>
  </div>
</section> -->
<!-- <section> close ============================-->
<!-- ============================================-->
<br>
<br>

<section style="padding-top: 0px !important">
    <div class="container">
        <div class="row h-100">
            <div class="col-lg-7 mx-auto text-center mb-4">
                <h5 class="fw-bold fs-3 fs-lg-5 lh-sm mb-3">Sản phẩm mua nhiều nhất</h5>
            </div>
            <div class="col-12">
                <div class="row h-100 align-items-center g-2">
                    <div class="col-md-3 mb-3 mb-md-0 h-100">
                        <div class="card card-span h-100 text-white"><img class="img-fluid h-100" src="assets/img/handbag.png" alt="..." />
                            <div class="card-img-overlay ps-0"> </div>
                            <div class="card-body ps-0 bg-200">
                                <h5 class="fw-bold text-1000 text-truncate">Marie Claire Handbag</h5>
                                <div class="fw-bold"><span class="text-600 me-2 text-decoration-line-through">$399</span><span class="text-danger">$365</span></div>
                            </div>
                            <a class="stretched-link" href="#"></a>
                        </div>
                    </div>
                    <div class="col-md-3 mb-3 mb-md-0 h-100">
                        <div class="card card-span h-100 text-white"><img class="img-fluid h-100" src="assets/img/earrings.png" alt="..." />
                            <div class="card-img-overlay ps-0"> </div>
                            <div class="card-body ps-0 bg-200">
                                <h5 class="fw-bold text-1000 text-truncate">Red Gem Earrings</h5>
                                <div class="fw-bold"><span class="text-600 me-2 text-decoration-line-through">$489</span><span class="text-danger">$466</span></div>
                            </div>
                            <a class="stretched-link" href="#"></a>
                        </div>
                    </div>
                    <div class="col-md-3 mb-3 mb-md-0 h-100">
                        <div class="card card-span h-100 text-white"><img class="img-fluid h-100" src="assets/img/lathered-wristwatch.png" alt="..." />
                            <div class="card-img-overlay ps-0"> </div>
                            <div class="card-body ps-0 bg-200">
                                <h5 class="fw-bold text-1000 text-truncate">Black Leathered Wristwatch</h5>
                                <div class="fw-bold"><span class="text-600 me-2 text-decoration-line-through">$799</span><span class="text-danger">$745</span></div>
                            </div>
                            <a class="stretched-link" href="#"></a>
                        </div>
                    </div>
                    <div class="col-md-3 mb-3 mb-md-0 h-100">
                        <div class="card card-span h-100 text-white"><img class="img-fluid h-100" src="assets/img/tie.png" alt="..." />
                            <div class="card-img-overlay ps-0"> </div>
                            <div class="card-body ps-0 bg-200">
                                <h5 class="fw-bold text-1000 text-truncate">Red-White Stripped Tie</h5>
                                <div class="fw-bold"><span class="text-600 me-2 text-decoration-line-through">$299</span><span class="text-danger">$243</span></div>
                            </div>
                            <a class="stretched-link" href="#"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="py-11">
    <div class="bg-holder overlay overlay-0" style="background-image:url(assets/img/tree/tree-16.jpeg);background-position:center;background-size:cover;"></div>
    <!--/.bg-holder-->
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="row h-100 align-items-center g-2">
                    <div class="col-12">
                        <div class="text-light text-center py-2">
                            <h5 class="display-4 fw-normal text-400 fw-normal mb-4">Chúng tôi tự hào là nơi mua bán các loại cây cảnh</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
